<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="RtSection" type="RTConfiguration.Model.ConfigurationSection,RTConfiguration"/>
  </configSections>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <!--<RtSection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Property1>Sample</Property1>
    <Property2>2</Property2>
  </RtSection>-->
</configuration>